.form__input {
  outline: none;
  width: 35vw;
  border: solid #ccc 0.2vh;
  border-radius: var(--border-radius);
  background: #ddd;
  text-align: center;
  transition: ease all 0.2s;
  height: 3.2vh;
  margin-top: 1.5vh;
}

.form__input:focus {
  border: 0.3vh solid var(--color-primary);
  background: #eeeeee;
  box-shadow: -5px 5px 12px rgba(71, 130, 148, 0.733);
}
