.mainbody {
  background-color: #5297ac;
  height: 100vh;
  display: flex;
}

.shineBox {
  z-index: 99;
  border-radius: 15px;
  height: 20px;
  padding: 20px 30px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #6bb66b;
  box-shadow: 10px 10px 10px black;
  text-align: center;
  font-weight: 700;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 60vh;
}

.shineBox:hover {
  background-color: #007f69;
}

.shineBox:before,
.shineBox:after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  transform: rotate(45deg);
  transition: all ease 1.5s;
}

.shineBox::after {
  transition-delay: 0.25s;
}

.shineBox:hover:before,
.shineBox:hover:after {
  left: 100%;
}

.introTitle {
  z-index: 1;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 4px 4px 4px black;
  color: #e6e0cf;
  font-size: 80px;
  position: absolute;
  top: 15vh;
  left: 15vw;
  padding: 20px 20px;
  transition: all 0.4s ease;
  -webkit-transition: all 1s ease;
}

.introTitle:hover {
  border-radius: 60px;
  background-color: #5dacc4;
  transition: all 0.4s ease;
  -webkit-transition: all 2s ease;
}

.trademark {
  font-size: 15px;
}

.shoreline {
  z-index: 0;
  position: absolute;
  left: 20vw;
  top: 30vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.shoreline:hover {
  opacity: 1;
}

.NYMap {
  z-index: 0;
  position: absolute;
  left: 40vw;
  top: 20vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.NYMap:hover {
  opacity: 1;
}

.HCMap {
  z-index: 0;
  position: absolute;
  left: 60vw;
  top: 50vh;
  width: 600px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.HCMap:hover {
  opacity: 1;
}
