.mainbody {
  background-color: #91B2C7;
  height: 100vh;
  display: flex;
}

.shineBox {
  z-index: 99;
  border-radius: 15px;
  height: 20px;
  padding: 20px 30px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #6bb66b;
  box-shadow: 10px 10px 10px black;
  text-align: center;
  font-weight: 700;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 60vh;
}

.shineBox:hover {
  background-color: #007f69;
}

.shineBox:before,
.shineBox:after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  transform: rotate(45deg);
  transition: all ease 1.5s;
}

.shineBox::after {
  transition-delay: 0.25s;
}

.shineBox:hover:before,
.shineBox:hover:after {
  left: 100%;
}

.introTitle {
  z-index: 1;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 4px 4px 4px black;
  color: #e6e0cf;
  font-size: 80px;
  position: absolute;
  top: 15vh;
  left: 23vw;
  padding: 20px 20px;
  transition: all 0.4s ease;
  -webkit-transition: all 1s ease;
}

.introTitle:hover {
  border-radius: 60px;
  background-color: #5dacc4;
  transition: all 0.4s ease;
  -webkit-transition: all 2s ease;
}

.trademark {
  font-size: 15px;
}

.shoreline {
  z-index: 0;
  position: absolute;
  left: 25vw;
  top: 69vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.shoreline:hover {
  opacity: 1;
}

.NYMap {
  z-index: 0;
  position: absolute;
  left: 50vw;
  top: 69vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.NYMap:hover {
  opacity: 1;
}

.HCMap {
  z-index: 0;
  position: absolute;
  left: 42vw;
  top: 44vh;
  width: 600px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.HCMap:hover {
  opacity: 1;
}

.BWMap {
  z-index: 0;
  position: absolute;
  left: 73vw;
  top: 0vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.BWMap:hover {
  opacity: 1;
}

.FireMapLA {
  z-index: 0;
  position: absolute;
  left: 0vw;
  top: 0vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.FireMapLA:hover {
  opacity: 1;
}

.GreenMap {
  z-index: 0;
  position: absolute;
  left: 0vw;
  top: 29vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.GreenMap:hover {
  opacity: 1;
}

.SPMap {
  z-index: 0;
  position: absolute;
  left: 50vw;
  top: 30vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.SPMap:hover {
  opacity: 1;
}

.PortlandMap {
  z-index: 0;
  position: absolute;
  left: 72vw;
  top: 50vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.PortlandMap:hover {
  opacity: 1;
}

.SLCMap {
  z-index: 0;
  position: absolute;
  left: 28vw;
  top: 0vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.SLCMap:hover {
  opacity: 1;
}

.SeaMap {
  z-index: 0;
  position: absolute;
  left: 0vw;
  top: 55vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.SeaMap:hover {
  opacity: 1;
}

.SprawlMap {
  z-index: 0;
  position: absolute;
  left: 55vw;
  top: 0vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.SprawlMap:hover {
  opacity: 1;
}

.Multicolor {
  z-index: 0;
  position: absolute;
  left: 75vw;
  top: 80vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.Multicolor:hover {
  opacity: 1;
}

.NashvilleYellow {
  z-index: 0;
  position: absolute;
  left: 24vw;
  top: 40vh;
  width: 500px;
  object-fit: contain;
  opacity: 0;
  transition: ease-in-out 2s;
}

.NashvilleYellow:hover {
  opacity: 1;
}
